.cabecalho {
    background-color: rgb(206, 176, 129);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    .logo {
        width: 50px;
    }

    .divBusca {
        display: flex;
        align-items: center;
        .txtBusca {
            width: 250px;
            height: 2em;
            border-radius: 5px;            
        }
        
    }

    .container {
        .lista__links {
            display: flex;
            column-gap: 2em;

            .lista__item {
                list-style: none;
            }
        }
    }
}